<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_QuickTellerService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_QuickTellerService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://stageserv.interswitchng.com/uat_QuickTellerService/QuickTeller.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QuickTellerService"
                contract="Quickteller.QuickTellerService" name="BasicHttpBinding_QuickTellerService" />
        </client>
    </system.serviceModel>
</configuration>