@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0042)http://beeptool.pwtech.pw/Pay_a_Bill.html# -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="@Url.Content("/Content/css")" type="text/css">
    <link href="@Url.Content("/Content/css(1)")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/stylesheet.css")" rel="stylesheet" type="text/css">
    <title>Pay a Bill</title>
</head>
<body style="background:none;">
    <div id="wrapper">
        <div class="header">
            <div id="in_wrapper">

            </div><!--send_div-->
        </div><!--in_wrapper-->
    </div><!--header-->
    <div id="in_wrapper">

        <div class="welcome_titel"><strong>Pay your bills and  family and friends in any country instantly!</strong> </div>
        <div class="alert-success"><b>Note:</b> Ensure you have enough funds in your BeepTool Account to make this  payments. <a href="./images/Pay a Bill.html">Top Up BeepTool Account Now</a></div>
        <div class="form_div">
            <form action="http://beeptool.com#" method="get">
                <ul>
                    <li>
                        <label>Account Balance:</label>
                        <span>$1.00 [NGN220.00]</span>
                    </li>
                    <li>
                        <label>Select  Bill Destination Country:</label>
                        <select>
                            <option>Select Biller Destination Country </option>
                            <option> Select Beneficiary Country</option>
                            <option>Nigeria</option>
                            <option>Other countries will be added  soon</option>
                        </select>
                    </li>
                    <li>
                        <label>Select Biller  Service category:</label>
                        <select>
                            <option value="11">
                                Airlines and Hotels Payments
                            </option>
                            <option value="28">
                                Association/Membership Dues
                            </option>
                            <option value="2">
                                Cable TV Bills
                            </option>
                            <option value="7">
                                Donations
                            </option>
                            <option value="52">
                                School fees
                            </option>
                            <option value="10">
                                Embassy Payments
                            </option>
                            <option value="5">
                                Internet  data plan Services
                            </option>
                            <option value="8">
                                Investments and  Insurance
                            </option>
                            <option value="60">
                                Pay TV Bills
                            </option>
                            <option value="4">
                                Phone Bills
                            </option>
                            <option value="27">
                                Offering and tithle
                            </option>
                            <option value="12">
                                Transport and Toll Payments
                            </option>
                            <option value="1">
                                Utility Bills
                            </option>
                            <option>ETC</option>
                        </select>
                    </li>
                    <li>
                        <label>Select Biller Item:</label>
                        <select>
                            <option>Select Biller payment Item </option>
                            <option>DSTV</option>
                            <option>PHCN</option>
                            <option>Benue State University School Fees</option>
                            <option>ETC</option>
                        </select>
                    </li>
                    <li>
                        <label>Biller Payment Code</label>
                        <span><b> 04190501 </b></span>
                    </li>
                    <li>
                        <label>Beneficiately Account Number :</label>
                        <input type="text" name="lname">
                    </li>
                    <li>
                        <label>Beneficiately Name :</label>
                        <input type="text" name="lname">
                    </li>
                    <li>
                        <label>Beneficiately Email :</label>
                        <input type="text" name="lname">
                    </li>
                    <li>
                        <label>Beneficiately Phone No :</label>
                        <input type="text" name="lname">
                    </li>
                    <li>
                        <label>Bill payment Amount :</label>
                        <input type="text" name="lname">
                    </li>
                    <li>
                        <label>Bill Payment Value:</label>
                        <span>$22.00 (NGN6,900.00) </span>
                    </li>
                    <li>
                        <label>Service Charges:</label>
                        <span> $0.5 (NGN100.00)</span>
                    </li>
                    <li>
                        <label>Total  Amount of Bill  to Pay:</label>
                        <span><b>£24.73 (N7,000.00)</b></span>
                    </li>
                    <div class="form_bt_div">
                        <a href="beeptool.com/BUP/#"><input type="button" value="Pay Now" class="proceed_bt"></a>
                        <a href="beeptool.com/BUP/#"><input type="button" value="Cancel" class="cancel_bt"></a>
                    </div>
                </ul>
            </form>
        </div><!--form_div-->
    </div><!--form_div-->
    </div><!--money_all_div-->
    </div><!--money_all_div-->


    <div class="footer_bg">
        Copyright ©2014-2015 BeepTool All Rights Reserved. BeepTool is a trademark of BeepTool Communications & Integrated Services Ltd
    </div>

    </div><!--wrapper-->

</body>
</html>